    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: Inter, -apple-system, BlinkMacSystemFont, Roboto, 'Kanit', sans-serif;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        text-rendering: optimizelegibility;
    }

    .rainbow {
        animation: rainbowColor 6s linear 0s infinite;
    }

    @keyframes rainbowColor {
        from {
            color: #6666ff;
        }

        10% {
            color: #0099ff;
        }

        50% {
            color: #00ff00;
        }

        75% {
            color: #ff3399;
        }

        100% {
            color: #6666ff;
        }
    }


    .nav-link {
        font-weight: 600;
    }

    a {
        color: #a86297;
        transition: 0.3s;
    }

    a:hover {
        color: #801364;
        transition: 0.3s;
    }

    .navbar {
        background-color: white !important;
    }

    @media only screen and (max-width: 768px) {
        .navbar {
            background-color: white !important;
        }
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }

    @media only all and (min-width: 768px) {
        .homepage {
            height: 100vh;
            width: 100%;
        }
    }

    .table tbody>tr>td.vert-align_td,
    .table tbody>tr>th.vert-align_th {
        white-space: normal;
    }

    footer {
        flex-shrink: 0;
        width: 100%;
    }

    .sf-snow-flake {
        position: fixed;
        top: -20px;
        z-index: 99999;
    }

    .sf-snow-anim {
        top: 110%;
    }

    .black-ribbon {
        position: fixed;
        z-index: 9999;
        width: 70px;
    }

    .collapse-content .fa.fa-heart:hover {
        color: #f44336 !important;
    }

    .collapse-content .fa.fa-share-alt:hover {
        color: #0d47a1 !important;
    }

    @media only all and (min-width: 768px) {
        .black-ribbon {
            width: auto;
        }
    }

    .stick-left {
        left: 0;
    }

    .stick-right {
        right: 0;
    }

    .stick-top {
        top: 0;
    }

    .stick-bottom {
        bottom: 0;
    }

    #watermark {
        position: fixed;
        bottom: 5vh;
        right: 5vh;
        opacity: 0.69;
        z-index: 99;
    }

    @media only screen and (max-width: 768px) {
        .center {
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* Switch info */

    .switch-info label input[type=checkbox]:checked+.lever {
        background-color: #33b5e5;
    }

    .switch-info label input[type=checkbox]:checked+.lever:after {
        background-color: #0099CC;
    }

    /* Switch danger */

    .switch-danger label input[type=checkbox]:checked+.lever {
        background-color: #ff4444;
    }

    .switch-danger label input[type=checkbox]:checked+.lever:after {
        background-color: #CC0000;
    }

    /* Switch warning */

    .switch-warning label input[type=checkbox]:checked+.lever {
        background-color: #ffbb33;
    }

    .switch-warning label input[type=checkbox]:checked+.lever:after {
        background-color: #FF8800;
    }

    /* Switch success */

    .switch-success label input[type=checkbox]:checked+.lever {
        background-color: #00C851;
    }

    .switch-success label input[type=checkbox]:checked+.lever:after {
        background-color: #007E33;
    }

    .row.make-columns {
        -moz-column-width: 19em;
        -webkit-column-width: 19em;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
    }

    .row.make-columns>div {
        display: inline-block;
        padding: .5rem;
        width: 100%;
    }

    /* demo only* */

    .panel {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .disabled {
        cursor: not-allowed;
    }

    @-webkit-keyframes blinker {
        from {
            opacity: 1.0;
        }

        to {
            opacity: 0.0;
        }
    }

    .navbar+.container {
        padding-top: 88px;
    }

    .bg-coekku {
        background-color: #801364;
        color: white;
    }

    .modal-coekku .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        color: white;
        background-color: #801364;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .badge-coekku {
        color: white;
        background-color: #801364 !important;
    }

    .badge-lca {
        color: white;
        background-color: #20639B !important;
    }

    .btn-coekku {
        color: white !important;
        background-color: #801364 !important;
        transition: 0.3s;
    }

    .btn-coekku:hover {
        color: white !important;
        background-color: #570743 !important;
    }

    .text-coekku {
        color: #801364 !important;
        transition: 0.3s;
    }

    ul.dropdown-lr {
        width: 300px;
    }

    .carouselEventPreview p {
        color: white !important;
    }

    .carousel-caption {
        backdrop-filter: blur(2.5px);
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    /*
    p,
    li,
    ul,
    table,
    blockquote {
        color: #606060;
    }
    */
    .dropdown .dropdown-menu.dropdown-coekku .dropdown-item:hover,
    .dropdown .dropdown-menu.dropdown-coekku .dropdown-item:active,
    .dropdown .dropdown-menu.dropdown-coekku .dropdown-item.active,
    .dropup .dropdown-menu.dropdown-coekku .dropdown-item:hover,
    .dropup .dropdown-menu.dropdown-coekku .dropdown-item:active,
    .dropup .dropdown-menu.dropdown-coekku .dropdown-item.active,
    .dropleft .dropdown-menu.dropdown-coekku .dropdown-item:hover,
    .dropleft .dropdown-menu.dropdown-coekku .dropdown-item:active,
    .dropleft .dropdown-menu.dropdown-coekku .dropdown-item.active,
    .dropright .dropdown-menu.dropdown-coekku .dropdown-item:hover,
    .dropright .dropdown-menu.dropdown-coekku .dropdown-item:active,
    .dropright .dropdown-menu.dropdown-coekku .dropdown-item.active {
        background-color: #801364 !important;
        border-radius: .125rem;
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
    }

    .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;

    }

    .modal-content-full-width {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color: #ececec !important
    }

    .modal-header-full-width {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer-full-width {
        border-top: 1px solid #9ea2a2 !important;
    }

    .indexNews {
        background-color: white;
    }

    body .admin {
        background-color: #4b4b4b;
    }

    .display-5 {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .display-6 {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .sticky-content {
        position: sticky;
        position: -webkit-sticky;
        top: 68px;
        justify-content: center;
        align-items: center;
    }

    .admin {
        background-color: #801364;
    }

    .course {
        background-color: rgba(255, 255, 255, 0.95) !important;
    }

    .course-bg {
        background-image: url('../../../elements/background/carousel.jpg');
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blink {
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 0.6s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
    }

    .blink2 {
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 0.1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
    }

    .circle {
        width: 100%;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
    }

    .circle:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
    }

    .circle>img {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        opacity: 0;
        transition: opacity .4s;
    }

    .circle>img.tallAndNarrow {
        width: 100%;
        top: 50%;
        transform: translateX(0) translateY(-50%);
        left: 0;
        height: auto;
    }

    .circle>img.loaded {
        opacity: 1;
    }

    .rounded-circle-image {
        background-image: url("https://i.gyazo.com/da27f072059db48590e3b9da9d7789c2.jpg");
        background-position: center;
        background-size: cover;
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    body {
        transition: margin-left .5s;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type: none;
        padding: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .rating-stars ul>li.star {
        display: inline-block;

    }

    /* Idle State of the stars */
    .rating-stars ul>li.star>i.fas {
        font-size: 1em;
        /* Change the size of the stars */
        color: #ccc;
        /* Color on idle state */
    }

    /* Hover state of the stars */
    .rating-stars ul>li.star.hover>i.fas {
        color: #FFCC36;
    }

    /* Selected state of the stars */
    .rating-stars ul>li.star.selected>i.fas {
        color: #FF912C;
    }